/* work section*/

/* styles three work sections: work heading with info, work highlight img, & other work cards.
sets top half of work section to column & cards to row */

#work{
    display: flex;
    flex-direction: column;
    background-color: white;
    clear:both;
    margin-top:2px;
}

/* work intro heading & paragraph. postitions heading on top of paragraph. sets styling between divs. */

#work .intro{
    max-height:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top:100px;
}


/* using inner wrapper to make take width smaller and have
black lined to seperate content stylistically */
#work .intro .intro-wrapper{
    width: 500px;
    align-self: center;
    border-top:1px solid black;
    padding-top:50px;
}

/* aligns text center within the wrapper */
#work .intro p, #work .intro h2{
    text-align: center;
}

#work .intro p{
    padding-bottom:50px;
}


/* highlighted work example setting img bigger than other work samples */

#work .work-highlight{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--light);
    text-align: center;
}

#work .work-highlight img{
    max-width: 100%;
    max-height:auto;
    padding-top:20px;
    padding: 50px;
    filter: grayscale(100%);
}


/* addition work section creating row of cards displaying work smaller than highlight. */
#work .other {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top:50px;
    padding:30px;
    padding-bottom:100px;
}

/* styling for 3 cards with work samples to appear in one row */
#work .other .p1, #work .other .p2,#work .other .p3{
    width: 33%;
    text-align: center;
    padding:20px;
    background-color:var(--light);
    color:var(--dark);
}

/* sets photos to black & white + fits to work display card */
#work .other .p1 img, #work .other .p2 img, #work .other .p3 img{
    max-width:100%;
    max-height:auto;
    filter: grayscale(100%);
}


/* shows original photo color on hover */
#work img:hover{
    filter:none;
}

#work .other .p1 img:hover, #work .other .p2 img:hover, #work .other .p3 img:hover{
    filter:none;
}